{% extends 'base.html' %}
{% block title %}Countries{% endblock %}

{% block content %}
<h1 class="mb-4">World Countries</h1>
<table class="table table-striped table-hover shadow-sm">
    <thead class="table-primary">
        <tr>
            <th>Country Name</th>
            <th>Population</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        {% for country in countries %}
        <tr>
            <td>{{ country.Name }}</td>
            <td>{{ "{:,}".format(country.Population) }}</td>
            <td>{{ country.Region }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

